{% extends 'base.html' %}
{% block basic %}

    <div class="mt-5">
        <center>
            <div class="d-flex justify-content-center row">
                <div class="col-md-10 col-lg-10">
                    <div>

                        {#                    <div class="alert alert-warning" role="alert">#}
                        {#                        <h5>You have already passed this Quiz, your previous score "{{$myScore}}"</h5>#}
                        {#                    </div>#}
                        {#                    <form action="{{ route('compt.quiz.delete',$quiz->id)}}" method="post">#}
                        {#                       #}
                        {#                        <button type="submit" class="btn-danger small">{{ __('messages.reset')}}</button>#}
                        {#                    </form>#}


                        <h3 class="text-center">{{ object.name }}</h3>
                        {#                    {{ --                        <img src="{{asset($quiz->img)}}" width="300px">--}}#}
                        {#                    <img src="{{ asset($quiz->img)}}" style="margin-left: 150px;" width="500" height="300">#}
                        <div class="question bg-white p-3 border-bottom">
                            <div class="d-flex flex-row justify-content-between align-items-center mcq">
                                <h4 class="text-center">  {{ object.name }}</h4>
                                (3 questions)
                            </div>
                        </div>

                        <div>

                            <form method="POST">
                                {% csrf_token %}
                                {% for question in object.question_set.all %}
                                    <div class="question bg-white p-3 border-bottom">
                                        <div class="d-flex flex-row align-items-center question-title">
                                            <h3 class="text-danger">Q.</h3>
                                            <h5 class="mt-1 ml-2"> {{ question.questionText }}</h5>
                                        </div>
                                        {% for answer in question.answer_set.all %}
                                            <div class=" ml-4" style="display: flex">
                                                <label class="radio ml-4" style="display: flex;">
                                                    <input type="checkbox" style="accent-color: green;" name="answerId[]" value="{{ answer.id }}">
                                                    <span>{{ answer.textAnswer }}</span>
                                                </label>

                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <button class="btn btn-primary">Submit</button>
                            </form>
                            <hr>
                        </div>
                    </div>

                </div>
            </div>
        </center>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Avatar</th>
                    <th scope="col">Name</th>
                    <th scope="col">Point</th>

                </tr>
                </thead>
                <tbody>
                {% for foo in comptdUsers %}
                    <tr {% if user.id == foo.user_id %} style="background-color: rgba(0,128,0,0.29);" {% endif %}>
                        <th scope="row">{{ forloop.counter }}</th>
                        <th scope="row"><img
                                                                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png"
                                                                width="34px" alt="#"></th>
                        <td scope="row">{{ foo.user.username }}</td>
                        <td scope="row">{{ foo.point }}/ {{ object.question_set.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}